@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Condomínio Solar da Pauliceia<br />
    Pauliceia, SP 09683-080<br />
    <abbr title="Celular">P:</abbr>
    (11) 97143-1888
</address>

<address>
    <strong>Supporte:</strong>   <a href="mailto:roberto.ehlert@hotmail.com">roberto.ehlert@hotmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>